<template>
  <div>
      <h2>Hello</h2>
        <table id="customers">
            <tr>
              <th v-for="col in columns">{{col.toUpperCase()}}</th>
            </tr>
            <tr v-for="row in tableData">
              <td v-for="col in columns">{{row[col]}}</td>
            </tr>
        </table>
    <div id = "take">
      <p>{{currentTime}}</p>
      <ul v-for="med in medList">
        <p v-for="(value,name) in med">{{ name }} : {{value}}</p>
        <button @click="take(med)">Take</button>
      </ul>
    </div>
        
    </div>

    
</template>

<script>
import moment from 'moment'
export default {
    
    data () {
        return {
            token : "",
            tableData: [],
            loggedId: "",
            currentTime: null,
            downloaded : false,
            timeToDownload : "18:42",
            testTime : "21:55",
            medicationPlans: [],
        }
    },
    methods: {
        logOut: function() {
            console.log('da')
            localStorage.removeItem('token');
            localStorage.removeItem('loggedId')
            this.$router.push('/login');
        },
        updateCurrentTime() {
            this.currentTime = moment().format('LTS');
            if(moment().format("HH:mm") == this.timeToDownload && !this.downloaded){
            this.loggedId = localStorage.getItem('loggedId');
            this.$http.get('http://localhost:8082/medicationPlan/' + this.loggedId).then(function(data) {
                 console.log("SUS");
                 console.log(data.bodyText);
                 this.forceFileDownload(data.bodyText);
                 this.medicationPlans = data.body;
            });
              this.downloaded = true;
            }
          this.medList.forEach(item => {
          var time1 = moment(item.intakeEndInterval, "HH:mm");
          var testTime1 = moment(this.testTime,"HH:mm");
          if(time1.isBefore(testTime1) && item.taken == false){
             console.log("Bad !!!");
             item.taken = true;
             this.$http.get('http://localhost:8082/warning/' + this.loggedId).then(function(data) {
            });
           }
          //  console.log(time1);
         // console.log(item);
          });
        },
        forceFileDownload(data){
            const url = window.URL.createObjectURL(new Blob([data]))
            const link = document.createElement('a')
            link.setAttribute('download', 'file.txt') //or any other extension
            link.href = url;
            document.body.appendChild(link)
            link.click();
        },
        test(){
          // console.log("Test");
          // this.tableData.forEach(item => {
          //  // console.log(item.medications)
          //   item.medications.forEach(item2 => {
          //     console.log(item2);
          //     let obj = {intakeEndInterval : item2.intakeEndInterval[0] + ":" + item2.intakeEndInterval[1], intakeStartInterval : item2.intakeStartInterval[0] + ":" + item2.intakeStartInterval[1], medication : item2.medication.name }
          //     this.medList.push(obj);
          //   });
          // });
          // console.log("Lista");
          // console.log(this.medList);
        },
        take :function(med){
          console.log(med.id);
          this.$http.put('http://localhost:8082/takeMedication/' + med.id).then(function(data) {
              med.taken = true;
              this.tryUpdate();
            });
          console.log(med);
        },

        tryUpdate(med){
        this.token = localStorage.getItem('token')
        const auth = {
            headers: { Authorization: "Bearer " + this.token }
        }; 
        this.loggedId = localStorage.getItem('loggedId');
        console.log(this.token + 'token');
        this.$http
            .get('http://localhost:8081/user/medicationPlan/' + this.loggedId, auth)
            .then(function(data) {
            console.log("Jos");
            console.log(data);
            this.tableData = data.body;
            });
        
        }
    },

    created: function() {
      this.currentTime = moment().format('LTS');
      setInterval(() => this.updateCurrentTime(), 1 * 1000);
        this.token = localStorage.getItem('token')
        const auth = {
            headers: { Authorization: "Bearer " + this.token }
        }; 
        this.loggedId = localStorage.getItem('loggedId');
        console.log(this.token + 'token');
        this.$http
            .get('http://localhost:8081/user/medicationPlan/' + this.loggedId, auth)
            .then(function(data) {
            console.log("Jos");
            console.log(data);
            this.tableData = data.body;
            });
    },

    computed: {
        columns: function columns() {
        if (this.tableData.length == 0) {
            return [];
        }
        console.log(this.tableData);
        console.log(this.tableData[0].medications[0].medication);
        console.log(Object.keys(this.tableData[0].medications[0]));
        console.log(Object.keys(this.tableData[0].medications[0].medication));
        return Object.keys(this.tableData[0]);
        },
        columns2: function columns2() {
            if (this.tableData.length == 0) {
            return [];
        }
        return Object.keys(this.tableData[0].medications[0]);
        },
        columns3: function columns3() {
            if (this.tableData.length == 0) {
            return [];
        }
        return Object.keys(this.tableData[0].medications[0].medication);
        },
        medList: function getMedList() {
          console.log("Test");
          let medList = [];
          let medListWithId = [];
          console.log(this.medicationPlans);
          this.tableData.forEach(item => {
            item.medications.forEach(item2 => {
              console.log(item2);
              let obj = {id : item2.id,  intakeEndInterval : item2.intakeEndInterval[0] + ":" + item2.intakeEndInterval[1], intakeStartInterval : item2.intakeStartInterval[0] + ":" + item2.intakeStartInterval[1], medication : item2.medication.name, taken : item2.taken };
              medList.push(obj);
            });
          });
          console.log("Lista");
          console.log(medList);
          return medList.filter(function(u){
            var time1 = moment(u.intakeStartInterval, "HH:mm");
            var time2 = moment(u.intakeEndInterval, "HH:mm");
            var test1 = moment("14:45", "HH:mm");
            var test2 = moment("17:45", "HH:mm");
            if(test2.isAfter(time1) && test2.isBefore(time2) && u.taken == false){
              return u;
            }
          });
        }
        
    },
    mounted() {
    if (localStorage.loggedId) 
      this.loggedId = localStorage.loggedId;
    if(localStorage.token) 
      this.token = localStorage.token;
  },
}
</script>

<style scoped>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: 30px 30px 200px 350px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
  margin: 0px 10px 10px 10px;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

button {
  width: 10%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#take {
  margin: 30px 30px 200px 350px; 
}

</style>
