<template>
    <div class="table">

      <div>
       <label for="Option">Please choose a patient id :</label>
       <select class="input" id="option" name="Option" v-model="userId" @click="getPatients()">
        <option value="none" selected disabled hidden>Please choose</option>
        <option v-for="id in patients" :value="id">{{id}}</option>
      </select>
      </div>

      <div>
       <label for="day">Please choose a day :</label>
       <select class="input" id="day" name="day" v-model="choosenDay">
        <option value="none" selected disabled hidden>Please choose</option>
        <option v-for="day in days" :value="day">{{day}}</option>
      </select>
      </div>

      <label for="Option 2" >Please choose an action :</label>
      <select class="input" id="option2" name="Option2" v-model="selectedOption" @change="action(selectedOption)">
        <option value="none" selected disabled hidden>Please choose</option>
        <option value="1">View patinet activity history</option>
        <option value="2">View patient medication activity</option>
        <option value="3">Add recommendation</option>
      </select>

       <div>
        <table id="customers">
          <thead>
            <tr>
              <th v-for="col in columns">{{col.toUpperCase()}}</th>
              
            </tr>
          </thead>
          <tbody>
            <tr v-for="row in tableData" v-bind:key= "row.id">
              <td v-for="col in columns" >{{row[col]}}</td>
              <button @click.prevent="annotate(row.id, true)" v-if="row.normal" >Is Normal</button> 
              <button @click.prevent="annotate(row.id, false)" v-if="row.normal" >Is Not Normal</button>  
            </tr>
          </tbody>
        </table>
      </div>

      <div v-if="selectedOption =='3'">
        <textarea rows="6" cols="100" @focus="clear()" @blur="write()" v-model="defeaultMessage"></textarea>
        <button @click.prevent="addRecommendation(defeaultMessage)">Add</button>
      </div>

    </div>
</template>

<script>

export default {
  data () {
    return {
      selectedOption: "",
      token : "",
      userId: "",
      choosenDay: "",
      defeaultMessage: "",
      patients: [],
      days: [],
      tableData: [],
    }
  },
  methods : {
      action : function(option) {
         switch(option) {
           case "1" : this.activityHistory();
           break;
           case "2" : this.medicationHistory();
           break;
           case "3" : this.addRecommendation();
           break;
         }
      },
      activityHistory : function() {
        this.$http.get("http://localhost:8083/activity/" + this.userId + "/day/" + this.choosenDay ).then(function(data){
          this.tableData = data.body;
        });
      },
      medicationHistory : function() {
        this.$http.get("http://localhost:8083/medications/" + this.userId).then(function(data){
           this.tableData = data.body; 
        });
      },
      annotate : function(id, normal) {
        this.$http.put("http://localhost:8083/activity/" + id + "/isNormal/" + normal).then(function(data){
          this.activityHistory();
        })
      
      },
      addRecommendation : function(recommendation) {
        this.$http.put("http://localhost:8083/recommendation/" + this.userId, recommendation).then(function(data){
          console.log(data.bodyText);
        });
      },
      getPatients: function() {
        const auth = {
          headers: { Authorization: "Bearer " + this.token }
        };
        this.$http.get("http://localhost:8081/user/patients", auth).then(function(data) {
            var patientsAux = [];
            data.body.forEach(function(entry){
            patientsAux.push(entry.id);
            });
            this.patients = patientsAux;
        });
      },
      clear: function() {
        this.defeaultMessage = '';
      },
      write: function() {
        if(this.defeaultMessage == ''){
        this.defeaultMessage = 'Enter recommendation...';
        }
      },
      test: function() {
        
      },
  },
  mounted() {
    if (localStorage.token) {
      this.token = localStorage.token;
    }
  },
  created() {
    for(var i = 1; i < 12; i++) {
          this.days.push(i);
        }
        this.days.push("28");
        this.days.push("29");
        this.days.push("30");
  },
  computed: {
    columns: function columns() {
      if (this.tableData.length == 0) {
        return [];
      }
      return Object.keys(this.tableData[0]);
    }
  },
}
</script>

<style scoped>
.table{
   margin: 30px 30px 200px 350px;
}

.input {
  width: 50%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*-------------------- */

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-top: 5%
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
  margin: 0px 10px 10px 10px;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

#delete {
  display: inline-block;
  margin-top: 2%;
}

button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>
